.devices {
    width: 70%;
    margin: 0 auto;
}

.devices-trash-icon {
    width: 100%;
    text-align: end;
}

.devices-trash-icon img {
    width: 30px;
    height: 30px;
}

.devices-trash-icon img:hover {
    background-color: #ffffff99;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .add-new-device {
        position: fixed;
        bottom: 30px;
        right: 30px;
        border-radius: 50px;
        background-color: #5B913B;
        padding: 10px;
        text-align: center;
    }

    .add-new-device i {
        color: #fff;
        font-size: 40px;
        width: 40px;
        height: 40px;
    }
}