.top-header-container {
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color: #5B913B;
    justify-content: space-between;
    padding-right: 30px;
    align-items: center;
}

.actions-group {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.actions-group img {
    width: 40px;
    height: 40px;
}


.menu {
    position: absolute;
    top: 50px;
    right: 170px;
    /* width: 150px; */
    z-index: 10;
    background-color: #8fcb6d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
}

.user-box {
    right: 30px !important;
}

.page-nav {
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    /* width: 200px; */
}

.page-nav:hover {
    background-color: #ffffff48;
    border-radius: 5px;
}

.page-nav span i {
    margin-right: 10px;
}

.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

.actions-group img:hover {
    background-color: #ffffff24;
    border-radius: 5px;
}

.group-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-header-container>img {
    height: 100%;
}

.device-name-header {
    color: #ffffffe7;
    font-size: 25px;
}

.menu-mobile>.page-nav:nth-child(4),
.menu-mobile>.page-nav:nth-child(5) {
    display: none;
}

@media (max-width: 768px) {
    .top-header-container>img {
        display: none;
    }

    .actions-group img:nth-child(2),
    .actions-group img:nth-child(3) {
        display: none;
    }

    .top-header-container {
        padding: 0 20px;
    }

    .menu-mobile>.page-nav:nth-child(4),
    .menu-mobile>.page-nav:nth-child(5) {
        display: block;
    }

    .menu {
        right: 20px;
    }
}